<form action="/editarCategoria/{{categoria._id}}" method="POST">
  <div class="form-group">
    <label for="nombre">Modificar nombre:</label>
    <input 
      type="text" 
      name="nombre" 
      id="nombre"
      placeholder="Nombre" 
      value="{{categoria.nombre}}" 
      class="form-input"
    />
  </div>

  <div class="form-group">
    <label for="descripcion">Modificar descripción:</label>
    <textarea 
      name="descripcion" 
      id="descripcion"
      cols="30" 
      rows="3" 
      placeholder="Descripción"
      class="form-textarea"
    >{{categoria.descripcion}}</textarea> 
  </div>

  <div class="form-group">
    <label for="activa">Modificar estado</label>
    <select name="activa" id="activa" class="form-select">
      <option value="true" {{#if categoria.activa}}selected{{/if}}>Activa</option>
      <option value="false" {{#unless categoria.activa}}selected{{/unless}}>Inactiva</option>
    </select>
  </div>

  <button type="submit" class="btn-submit">Guardar Cambios</button>
</form>