<nav class="navbar">
    <h1 class="navbar-title">Secciones</h1>
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/categoria/agregar" class="navbar-link">Categorías</a></li>
        <li class="navbar-item"><a href="/producto/agregar" class="navbar-link">Productos</a></li>
        <li class="navbar-item"><a href="/inventario/agregar" class="navbar-link">Inventario</a></li>
        <li class="navbar-item"><a href="/plantilla" class="navbar-link">Inicio</a></li>
    </ul>
</nav>